@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme {
  --color-main-bg: #22223D;
  --color-secondary-bg: #1B1B31;
  --color-accent: #EE2D87;
  --color-secondary-accent: #FA6941;
  --color-tertiary-accent: #0C849B;
  --color-text-main: #FFFFFF;
  --gap: 1rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1rem;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    font-family: rubik;
  }

}